@using OnlineShop.Models
@model IEnumerable<OnlineShop.Models.Product>


@{
    ViewBag.Title = "Index";
}

<h2>
    Products
 
</h2>

<p>
    @{
        if (Session["message"] != null)
        {
            @Session["message"]
            Session["message"] = null;
        }
    }
</p>

<p>
    @Html.ActionLink("Shopping Cart","ViewShoppingCart")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Quantity
        </th>
        <th>

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <form action=" Cart/AddToCart">
                    <input type="hidden" value ="@item.ID" name ="productId">
                    <input type="number" min="0" value="0" id="@item.ID" name="quantity">
                    <input type="submit" value="Add to cart" >
                </form>
            </td>
        </tr>
}
</table>
